.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.form{
    width: 43rem;
    /* height: 40rem; */
    background-color: #fff;
    border-radius: 1rem;
    padding: 2rem;
    padding-block: 4rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .05);
}

.title{
    font-size: 2rem;
}

.copy{
    font-size: 1.4rem;
    color: rgba(0, 0, 0, .8);
}

.form button{
    margin-top: 2rem;
}